.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home__blog {
  /* width: calc(65% - 7.5px); */
  width: 100%;
}

.home__links {
  /* width: calc(35% - 7.5px); */
  width: 100%;
}

@media (min-width: 850px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
  }

  .home__blog {
    width: calc(65% - 7.5px);
  }

  .home__links {
    width: calc(35% - 7.5px);
  }

  .home__links a {
    font-size: 14px;
  }
}
