.post-page {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
}

.post-page h2 {
    margin-bottom: 20px;
}

.post-page > * {
    margin-bottom: 22px;
}

.post-page code {
    font-family: Consolas;
}

@media (min-width: 850px) {
    .post-page {
        padding: 20px 80px 20px 40px;
    }
}