.admin-layout {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f8fa;
  display: flex;
}

.admin-layout nav {
  width: 20%;
  max-width: 300px;
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 15px 7.5px 15px 15px;
  padding: 15px;
  border-radius: 6px;
}

.admin-layout nav h2 {
  margin-bottom: 10px;
  cursor: pointer;
}

.admin-layout nav span:hover {
  font-weight: bold;
  cursor: pointer;
}

.admin-layout main {
  width: 80%;
  max-width: 1080px;
  min-height: calc(100vh - 30px);
  background-color: #fff;
  margin: 15px 15px 15px 7.5px;
}

.active-link {
  font-weight: bold;
}
