.section-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  width: 100%;
}

.section-card__title {
  margin-bottom: 4px;
}

.section-card__content {
  width: 100%;
}

@media (min-width: 850px) {
  .section-card__title {
    margin-bottom: 12px;
  }
}